USE [master]
GO
/****** Objeto: Database [BD2026_1] Fecha de script: 1/7/2026 9:30:26 ******/
CREATE DATABASE [BD2026_1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bdFactura', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\BD2026_1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bdFactura_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\BD2026_1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD2026_1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD2026_1]
GO
/****** Objeto: User [usr_ingles] Fecha de script: 1/7/2026 9:30:26 ******/
CREATE USER [usr_ingles] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [usr_ingles]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [usr_ingles]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [usr_ingles]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [usr_ingles]
GO
ALTER ROLE [db_datareader] ADD MEMBER [usr_ingles]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [usr_ingles]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [usr_ingles]
GO
/****** Objeto: Table [dbo].[AutorizacionFac] Fecha de script: 1/7/2026 9:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutorizacionFac](
	[aut_id] [int] IDENTITY(1,1) NOT NULL,
	[aut_autSRI] [varchar](80) NULL,
	[aut_desde] [int] NULL,
	[aut_hasta] [int] NULL,
	[aut_estado] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[aut_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[cab_Factura] Fecha de script: 1/7/2026 9:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cab_Factura](
	[cab_numFac] [varchar](50) NOT NULL,
	[cab_fechaFac] [date] NULL,
	[cli_id] [varchar](13) NULL,
	[cab_subtotal] [float] NULL,
	[cab_basecero] [float] NULL,
	[cab_iva] [float] NULL,
	[cab_total] [float] NULL,
	[cab_estado] [varchar](1) NULL,
	[usr_id] [int] NULL,
 CONSTRAINT [PK_cab_Factura] PRIMARY KEY CLUSTERED 
(
	[cab_numFac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cliente] Fecha de script: 1/7/2026 9:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[cli_id] [int] IDENTITY(1,1) NOT NULL,
	[cli_cedula] [varchar](13) NULL,
	[cli_nombres] [varchar](80) NULL,
	[cli_apellidos] [varchar](80) NULL,
	[cli_direccion] [varchar](80) NULL,
	[cli_telefono] [varchar](80) NULL,
	[cli_correo] [varchar](80) NULL,
	[cli_estado] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[cli_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DetalleFactura] Fecha de script: 1/7/2026 9:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFactura](
	[det_id] [int] IDENTITY(1,1) NOT NULL,
	[fac_id] [int] NULL,
	[prod_id] [int] NULL,
	[prod_nombre] [varchar](80) NULL,
	[cantidad] [float] NULL,
	[prod_pvp] [decimal](18, 2) NULL,
	[iva] [decimal](18, 2) NULL,
	[total] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[det_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Empresa] Fecha de script: 1/7/2026 9:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[emp_ruc] [varchar](13) NOT NULL,
	[emp_nombre] [varchar](80) NULL,
	[emp_direccion] [varchar](100) NULL,
	[emp_telefono] [varchar](13) NULL,
	[emp_estado] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[emp_ruc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Factura] Fecha de script: 1/7/2026 9:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[fac_id] [int] IDENTITY(1,1) NOT NULL,
	[fac_numero] [varchar](20) NOT NULL,
	[fac_fecha] [datetime] NULL,
	[cli_id] [int] NULL,
	[fac_subtotal] [decimal](18, 2) NOT NULL,
	[fac_subtotalcero] [decimal](18, 2) NOT NULL,
	[fac_iva] [decimal](18, 2) NOT NULL,
	[fac_descuento] [decimal](18, 2) NOT NULL,
	[fac_total] [decimal](18, 2) NOT NULL,
	[fe_clave] [varchar](49) NULL,
	[fe_autorizacion] [varchar](50) NULL,
	[fe_fecha_aut] [datetime] NULL,
	[aud_usr_id_crea] [int] NULL,
	[aud_mac_crea] [varchar](20) NULL,
	[aud_fecha_creacion] [datetime] NULL,
	[aud_hora_creacion] [datetime] NULL,
	[aud_usr_id_modifica] [int] NULL,
	[aud_mac_modifica] [varchar](20) NULL,
	[aud_fecha_modificacion] [datetime] NULL,
	[aud_hora_modificacion] [varchar](10) NULL,
	[fac_estado] [varchar](1) NULL,
	[cli_cedula] [varchar](20) NULL,
	[cli_nombre] [varchar](200) NULL,
	[cli_apellidos] [varchar](200) NULL,
	[cli_direccion] [varchar](200) NULL,
	[cli_telefono] [varchar](20) NULL,
	[cli_correo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[fac_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[fac_numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ParametroGeneral] Fecha de script: 1/7/2026 9:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParametroGeneral](
	[idParametro] [int] IDENTITY(1,1) NOT NULL,
	[clave] [varchar](50) NOT NULL,
	[descripcion] [nvarchar](250) NULL,
	[valornumerico] [numeric](18, 2) NOT NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idParametro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Perfil] Fecha de script: 1/7/2026 9:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[per_id] [int] IDENTITY(1,1) NOT NULL,
	[per_descripcion] [varchar](80) NULL,
	[per_estado] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[per_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Producto] Fecha de script: 1/7/2026 9:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[prod_id] [int] IDENTITY(1,1) NOT NULL,
	[prod_cod] [varchar](80) NULL,
	[prod_nombre] [varchar](80) NULL,
	[prod_precioCompra] [float] NULL,
	[prod_pvpxmenor] [float] NULL,
	[prod_pvpxmayor] [float] NULL,
	[prod_stock] [float] NULL,
	[prod_aplicaIva] [bit] NULL,
	[pod_imagen] [varbinary](max) NULL,
	[prod_estado] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[prod_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 1/7/2026 9:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[usr_id] [int] IDENTITY(1,1) NOT NULL,
	[per_id] [int] NULL,
	[usr_nombres] [varchar](80) NULL,
	[usr_usuario] [varchar](30) NOT NULL,
	[usr_clave] [varchar](max) NOT NULL,
	[usr_estado] [varchar](1) NULL,
 CONSTRAINT [PK__Usuario__60621ABCAA9A9A68] PRIMARY KEY CLUSTERED 
(
	[usr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Factura] ADD  DEFAULT (getdate()) FOR [fac_fecha]
GO
ALTER TABLE [dbo].[ParametroGeneral] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD FOREIGN KEY([fac_id])
REFERENCES [dbo].[Factura] ([fac_id])
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD FOREIGN KEY([prod_id])
REFERENCES [dbo].[Producto] ([prod_id])
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK__Factura__aud_usr__3D5E1FD2] FOREIGN KEY([aud_usr_id_crea])
REFERENCES [dbo].[Usuario] ([usr_id])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK__Factura__aud_usr__3D5E1FD2]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK__Factura__aud_usr__3E52440B] FOREIGN KEY([aud_usr_id_modifica])
REFERENCES [dbo].[Usuario] ([usr_id])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK__Factura__aud_usr__3E52440B]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD FOREIGN KEY([cli_id])
REFERENCES [dbo].[Cliente] ([cli_id])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK__Usuario__per_id__2B3F6F97] FOREIGN KEY([per_id])
REFERENCES [dbo].[Perfil] ([per_id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK__Usuario__per_id__2B3F6F97]
GO
USE [master]
GO
